<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 col-xs-offset-1 col-sm-offset-3 col-md-offset-0">
      <div class="actions">
         <%= link_to new_card_path do %>
            <h4 class="card">Add Card</h4>
          <% end %>
        <p class="help-text">Learn something new? Make a card for it to review 
        later!</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-xs-offset-1 col-sm-offset-3 col-md-offset-0">
      <div class="actions">
        <%= link_to "#" do %>
          <h4 class="card">Review Cards</h4>
        <% end %>
        <p class="help-text">The key to learning is repetition! Cycle through your created cards and record how well you do! Cards that you answer correctly 5 times in a row will not appear again for 3 months!</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-xs-offset-1 col-sm-offset-3 col-md-offset-0">
      <div class="actions">
        <%= link_to new_category_path do %>
          <h4 class="card">Add Category</h4>
        <% end %>
        <p class="help-text">Tackling a new topic? Create a new category to assign cards to!</p>
      </div>
    </div>
  </div>
</div>