<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="actions">
        <a href=#><h4 class="title">Create New Card</h4></a>
        <p class="help-text">Learn something new? Make a card for it to review later!</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="actions">
        <a href=#><h4 class="title">Review Cards</h4></a>
        <p class="help-text">The key to learning is repetition! Cycle through your created cards and record how well you do! Cards that you answer correctly 5 times in a row will not appear again for 3 months!</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="actions">
        <a href='/new_category'><h4 class="title">Create New Category</h4></a>
        <p class="help-text">Tackling a new topic? Create a new category to assign cards to!</p>
      </div>
    </div>
  </div>
</div>