@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

  .card {
    text-align: center;
    border: solid 1px black;
    padding: 35px 5px;
    max-width: 450px

  }

/* Layouts */
 a {
  text-decoration: none;
  color: #777;
 }

.navbar-header {
  li {
    list-style: none;
  }

  li a:hover {
    text-decoration: none;
    color: black;
  }
}

.nav.navbar-nav {
  li a:hover {
    background: black;
    color: white;
  }
}

body {
  margin-top: 80px;
}

/* Static Pages --> Index */

.actions {
  text-align: center;
  a {
    text-decoration: none;
    color: black;
  }

  p {
    width: 90%;
    margin: 10px 5%;
    text-align: center;
  }

}

/* Cards */

.new_card_form {
  width: 100%;
  margin: 5%;

  textarea {
    width: 90%;
  }
}