@import "bootstrap-sprockets";
@import "bootstrap";

/* Layouts */
 a {
  text-decoration: none;
  color: #777;
 }

.navbar-header {
  li {
    list-style: none;
  }

  li a:hover {
    text-decoration: none;
    color: black;
  }
}

.nav.navbar-nav {
  li a:hover {
    background: black;
    color: white;
  }
}

body {
  margin-top: 80px;
}

/* Static Pages --> Index */

.actions {
  a {
    text-decoration: none;
    color: black;
  }
  h4 {
    text-align: center;
    border: solid 1px black;
    padding: 35px 5px;

  }

  p {
    width: 90%;
    margin: 10px 5%;
    text-align: center;
  }

}