<%= form_for :category, url: { action: "create" } do |f| %>
  <div class="field">
    <%= f.label :description, "New Category" %>
    <%= f.text_field :description, width: "90%", class: "form-control" %><br>

    <%= f.submit "Add Category", class: "btn btn-primary submit" %>
  </div>
<% end %>