<%= form_for :category, url: { action: "create" } do |f| %>
  <div class="field">
    <%= f.label :description, "Category" %>
    <%= f.text_field :description %>

    <%= f.submit "Add Category" %>
  </div>
<% end %>